 body {
        margin: 0 !important;
	width: 100%;
	height: 100%;
 }
.MMM-GoogleFitX, .MMM-GoogleFit{
        zoom: 80%;
}
.MMM-RTSPStream .innerWrapper{
  border: 0 !important;
}

#module_1_clock .time{
    font-size:320%;
    font-weight: bolder;
    font-family: -webkit-pictograph;
    padding-top: 23px;
}
.calendar * {
    font-size: 17px;
}

.clock .time {
   font-family: Airstream;
   color: rgba(7, 234, 245, 0.68);

}
/* wind speed selector */
.currentweather > .module-content > div > div.normal.medium > :nth-child(2),
/ wind direction selector */
.currentweather > .module-content > div > div.normal.medium > :nth-child(3),
/ sunset/sunrise time selector /
.currentweather > .module-content > div > div.normal.medium > :nth-child(6){
color: #3385ff;
}
.wi.dimmed.wi-sunset {
color: orange;
}
.wi.dimmed.wi-sunrise {
color: yellow;
}
.wi-day-sunny {
color: yellow;
}
.wi-day-cloudy {
color: yellow;
}
.wi-rain {
color: grey;
}
.wi-thunderstorm {
color: grey;
}
.wi-snow {
color: white;
}
.wi-fog {
color: white;
}
.wi-night-clear {
color: white;
}
.wi-night-cloudy {
color: grey;
}
.wi-night-showers {
color: blue;
}
.wi-night-rain {
color: blue;
}
.wi-thunderstorm {
color: yelow;
}
.wi-night-snow {
color: white;
}
.wi-night-alt-cloudy-windy {
color: grey;
}
.compliments .xlarge {
color: #3385ff;
font-family: Airstream;
}
.newsfeed .medium {
color: #3385ff;
font-family: Airstream;
}

